html, body {
	position: relative;
	width: 100%;
	margin: 0;
	height: 100%;
	background-color: #ffffff;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


textarea:focus, input:focus{
    outline: none;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}


.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
.list-container {
	display: flex;
	flex-direction: column;
	width: 14.5vw;
	align-items: center;
  }
  

.title {
	margin: 10px;
	margin-top: 25px;
	color: #525761;
	font-size: large;
	font-weight: 700;
  }


.history-item {
	display:inline-block;
	align-items: center;
	color: #525761;
	padding: 10px;
	white-space: nowrap;
	border-radius: 5px;
	font-size: 14.5px;
	transition: background-color 0.05s ease;
	width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

.history-item:hover {
	background-color: rgb(195, 219, 255);
  }
  
.row-bar {
	position: fixed;
	top: 0;
	left: 17vw; /* Adjust the value to match the width of the row-bar */
	height: 100vh;
	width: calc(100% - 17vw); /* Subtract the width of the row-bar from the total width */
	overflow-x: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
  }
  
.row {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 17vw;
	background-color: #f5f6fb;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1; 
	border: 1px solid rgb(205, 205, 205);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
  }



  .top-bar h1 {
	margin: 0;
	font-size: xx-large;
	color: #525761;
  }
  
  .top-bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	align-items: center;
	padding: 15px;
	background-color: #f3f6ff;
	width: 100%;
	border: 1px solid rgb(205, 205, 205);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	position: relative; /* Added */
  }
  
  .loading-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 4px;
	width: 0;
	background-color: #4a90e2;
	transition: width 0.3s ease; /* Added */
  }
  
  .loading-bar.loading {
	width: 100%;
  }
  

  .search-container {
	margin-top: 10px;
	display: flex;
	align-items: center;
	flex-grow: 1; /* Add this line */
  }
  
  .input-container {
	display: flex;
	align-items: center;
	position: relative;
	flex-grow: 1; /* Add this line */
  }
  
  .searchbar {
	padding: 12px;
	margin: 10px;
	width: 40vw;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .submit-button {
	padding: 10px;
	border-radius: 2px;
	border: none;
	background-color: transparent;
	color: #333;
	outline: none;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
  }
  
  
  .custom-i {
	margin-top: 10px;
	color: #525761;
	font-size: small;
	font-weight: 600;
  }
  
.empty-message{
	margin-top: 30vh;
	text-align: center;
	color: #525761;
	font-size: small;
	font-size: 14.5px;
}

.upload-button-container {
	background: linear-gradient(
	  0deg,
	  rgba(0, 85, 255, 1) 0%,
	  rgba(97, 154, 255, 1) 100%
	);
	border-radius: 10px;
	padding: 12px;
	border-radius: 10px;
	transition: background-color 0.3s, transform 0.3s; /* Add transform transition */
  }

.upload-button-container label {
	display: flex;
	align-items: center;
	color: white;
	font-size: 14.5px; /* Change the font size to your desired value */
	font-weight: 700;
  }
  
.upload-button-container:hover {
	background: linear-gradient(
	  0deg,
	  rgb(0, 68, 203) 0%,
	  rgb(69, 137, 254) 100%
	);
	transform: scale(1.05); /* Add scaling effect */
  }

.wrapper-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form{
	display: flex;
	flex-direction: column;
	width: 20vw;
}

.welcome{
	margin-top: 10vh;
	text-align: center;
	color: #525761;
	font-size: small;
	font-size: xx-large;
}

.subtext{
	text-align: center;
	color: #525761;
	font-size: small;
	font-size: 15px;
}

.input-auth{
	border-radius: 10px;
	border: 1px solid rgb(199, 199, 199);
	padding: 10px;
	border: 1px solid rgb(214, 214, 214);
}

.form button {
	background: linear-gradient(
	  0deg,
	  rgba(0, 85, 255, 1) 0%,
	  rgba(97, 154, 255, 1) 100%
	);
	border-radius: 10px;
	padding: 12px;
	border-radius: 10px;
	transition: background-color 0.3s, transform 0.3s; 
	color: white;
	font-weight: 600;
  }
  
.form button:hover {
	background: linear-gradient(
	  0deg,
	  rgb(0, 68, 203) 0%,
	  rgb(69, 137, 254) 100%
	);
	transform: scale(1.01); /* Add scaling effect */
  }

#auth{
	background-color: #f3f6ff;
}

.error-message {
	color: #ff5353;
	font-size: medium;
	font-weight: 600;
}

.wrapper-error{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error{
	font-size: xxx-large;
	color: #4e4e4e;
	font-weight: 800;
}

.wrapper-response{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.8;
	width: 70%;
}

